<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>在线考试系统|添加填空题界面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <styly type="text/css">

    </styly>
</head>
<body class="text-center">
<h1>在线考试系统</h1>
<h1 class="h3 mb-3 font-weight-normal">请输入新的填空题信息</h1>
<div >
    <form th:action="@{/addCompletion}">
        <p>题目</p>
        <p>
            <textarea type="text" name="question" rows="2" cols="100" th:placeholder="请输入题目..." required="" autofocus=""></textarea>
        </p>
        <p>答案</p>
        <p>
            <textarea type="text" name="answer" rows="2" cols="100" th:placeholder="请输入答案..." required="" autofocus=""></textarea>
        </p>
        <p>解析</p>
        <p>
            <textarea type="text" name="analysis" rows="2" cols="100" th:placeholder="请输入解析..." required="" autofocus=""></textarea>
        </p>
        <input type="text" name="subid" th:value="${subid}" required="" autofocus="" readonly hidden="hidden">
        <button type="submit" >提交</button>
        <button type="reset" >清空</button>
    </form>
</div>
<p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</body>
</html>