<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>在线考试系统|添加试卷界面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <styly type="text/css">

    </styly>
</head>
<body class="text-center">
<h1>在线考试系统</h1>
<h1 class="h3 mb-3 font-weight-normal">请输入新的试卷信息</h1>
<div >
    <form th:action="@{/addNewPaper}">
        <p>名称</p>
        <p>
            <input type="text" name="tpapername" th:placeholder="请输入试卷名称" required="" autofocus="">
        </p>
        <p>总分值</p>
        <p>
            <input type="text" name="totalscore" th:placeholder="请输入试卷分值" required="" autofocus="">
        </p>
        <p>总时间(单位:分钟)</p>
        <p>
            <input type="text" name="totalminutes" th:placeholder="请输入试卷时长" required="" autofocus="">
        </p>
        <p>开始时间</p>
        <p>
            <input type="date" name="starttime" required="" autofocus="">
        </p>
        <p>截止时间</p>
        <p>
            <input type="date" name="endtime" required="" autofocus="">
        </p>
        <p>考试范围</p>
        <p>
            <select name="students">
                <option value="class" selected>本班学生</option>
                <option value="subject">本课程学生</option>
            </select>
        </p>
        <input type="text" name="subid" th:value="${subid}" required="" autofocus="" readonly hidden="hidden">
        <input type="text" name="tid" th:value="${tid}" required="" autofocus="" readonly hidden="hidden">
        <button type="submit" >提交</button>
        <button type="reset" >清空</button>
    </form>
</div>
<p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</body>
</html>