<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>在线考试系统|测试界面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <styly type="text/css">

    </styly>
</head>
<body class="text-center">

<div >
    <a th:href="@{/testChartData}">测试</a>
</div>

</body>
</html>