<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>在线考试系统|更新教师界面</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link th:href="@{/css/signin.css}" rel="stylesheet">-->


</head>

<body class="text-center">
<h1 class="h3 mb-3 font-weight-normal">请输入要更新的教师信息</h1>
<form class="form-signin " th:action="@{/updateTeacher}">
    <p>工号：<input type="text" name="id" th:value="${session.teacher.getTeacherid()}" th:placeholder="请输入教师工号" required="" autofocus=""></p>
    <p>姓名：<input type="text" name="name" th:value="${session.teacher.getTeachername()}" th:placeholder="请输入教师姓名" required="" autofocus=""></p>
    <p>性别：<input type="text" name="sex" th:value="${session.teacher.getTeachersex()}" th:placeholder="教师性别" required="" autofocus=""></p>
    <p>手机：<input type="text" name="phone" th:value="${session.teacher.getTeacherphone()}" th:placeholder="联系方式" required="" autofocus=""></p>
    <p>学科：<input type="text" name="major" th:value="${session.teacher.getTeachermajor()}" th:placeholder="学科" required="" autofocus=""></p>
    <p>部门：<input type="text" name="depart" th:value="${session.teacher.getTeacherdepart()}" th:placeholder="部门" required="" autofocus=""></p>
    <p>密码：<input type="text" name="pwd" th:value="${session.teacher.getTeacherpassword()}" th:placeholder="重置密码" required="" autofocus=""></p>
    <input type="text" name="aid" th:value="${session.teacher.getAdminid()}" required="" autofocus="" readonly hidden>
    <button class="btn-success" type="submit" >提交</button>
    <button class="btn-danger" type="reset" >清空</button>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</form>
</body>

</html>